@{
    ViewBag.Title = "Home Page";
}

<h2>@ViewBag.Error</h2>
<h2>@ViewBag.ErrorDescription</h2>

<h1>@ViewBag.NameProp</h1>
<h3>Speed: @ViewBag.Speed.base_stat</h3>
<h3>SpecialDef: @ViewBag.SpecialDef.base_stat</h3>
<h3>SpecialAttack: @ViewBag.SpecialAttack.base_stat</h3>
<h3>Def: @ViewBag.Def.base_stat</h3>
<h3>Attack: @ViewBag.Attack.base_stat</h3>
<h3>HP: @ViewBag.HP.base_stat</h3>
<img src="@ViewBag.Image.front_default" alt="Front">
<img src="@ViewBag.Image.back_default" alt="Front">


<h2>3 Point: @ViewBag.ThreePoint</h2>
<h2>Field Goal: @ViewBag.FieldGoal</h2>
<h2>Paint: @ViewBag.Paint</h2>
<h2>Steal: @ViewBag.Steal</h2>
<h2>Block: @ViewBag.Block</h2>